/* ==UserStyle==
@name           ? - Mar 2024
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@media (pointer: none),
    (pointer: coarse) {
        div#container {
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            transform-origin: top left;
            min-width: 780px;
            width: 100%;
            max-width: 780px !important;
            grid-template-columns: 0 minmax(0, 1fr) 0 !important;
        }
        div#page_content{
            /*overflow:auto;
            max-height:63vh;*/
            min-height:60vh;
            scrollbar-width: thin;
        }
        #page_content::after {
            display: block;
            margin: auto;
            margin-top: 200px;
            width: 70%;
            height: 30px;
            content: "";
            text-align: center;
            padding: 5px;
            border-top: 5px dotted Gainsboro
        }
        #page_content,
        #page_event,
        #page_banner {
            padding-left: 150px;
            padding-right:50px;
            width:calc(100% - 200px) !important;
            margin:auto;
        }
        div#page_footer {
            width: 100%;
        }
        #footer_content {
            width:90%;
            margin: 5px 20px;
        }
        div#sb_side {
            z-index: 1;
        }
        div#userinfo {
            font-size: 0.7em !important
        }
        div#page_notif {
            margin-right: 5px;
        }
        div#page_event {
            min-height: 0
        }
        div#aio_sidebar_placeholder {
            width: 0;
            left:735px;
            margin: 0;
            position:absolute;
        }
        div#aio_sidebar {
            position: fixed;
            width: 0px;
            top:30px;
            right: 0px;
            transition: width 0.1s;
            overflow-x:hidden;
            scrollbar-width: thin;
            border-radius: 5px;
            z-index: 1;
            margin: 10px 0 0 0
        }
        div#aio_sidebar::after {
            content: "AIO";
            height: 150px;
            border-right: 35px grey solid;
            border-top: 15px transparent solid;
            border-bottom: 15px transparent solid;
            top: 80px;
            left: 730px;
            position: fixed;
            transition: left 0.1s;
            width:40px;
            writing-mode:vertical-rl;
            padding-right:5px;
            /*default sidebar styling*/
            border-radius: 15px 0px 0px 15px;
            background-image:url(https://grundoscafe.b-cdn.net/misc/aio-sidebar/default.png);
            border:2px solid black;
            box-shadow: 0 0 4px rgba(0,0,0,0.7);
            font:30px Heffaklump;
            font-weight:bolder;
        }
        div#aio_sidebar:hover,
        div#aio_sidebar:active {
            width: 380px;
            transition: all 0.1s;
            transition-delay: 300ms
        }
        div#aio_sidebar:hover::after {
            left: 350px;
            transition: left 0.1s;
            transition-delay: 300ms
        }
        .form-control {
            min-height: 3em !important;
            white-space: pre-wrap
        }
        [type="checkbox"],
        [type="radio"] {
            height:1em;
            width:1em;
        }
        div#aio_sidebar .aioImg img {
            max-height: 50px !important
        }
        .game {
            grid-template-rows: 50px 50px auto auto;
            grid-template-columns:104px 50px;
        }
        .inventory {
            grid-template-columns: repeat(5, 110px);
            justify-items: center;
        }
        #shopInventory {
            grid-template-columns: repeat(4, 120px);
            justify-items: center;
            grid-column-gap: 20px !important
        }
        div.inv-item,
        div.shop-item {
            width: 120px
        }
        div[class$=-item] .med-image {
            width: 100px;
            height: 100px
        }
        #quickref_petlist {
            width: auto;
            grid-template-columns: repeat(3, 1fr);
        }
        div#shop_wizard_search {
            width: 100%;
            grid-template-columns: 30% 1fr;
        }
        div.flex-column {
            max-width:100%;
        }
        #page_content main textarea {
            max-width: 100%;
        }
        form div.right{
            line-height:2em;
        }
        form {
            overflow-x:auto;
        }
        #userinfo {
            font-size: 0.6em;
        }
        @media screen and (orientation: landscape) {
            div#container {
                grid-template-columns: 140px minmax(0, 1fr) 0px !important;
                -webkit-transform: scale(0.7);
                -mox-transform: scale(0.7);
                max-width: 100% !important;
            }
            div#aio_sidebar_placeholder,
            div#aio_sidebar {
                width: 380px;
                position: relative;
                max-height:100%;
            }
            div#aio_sidebar::after,
            div#page_footer {
                display: none;
            }
            div#page_content,
            div#page_event,
            div#page_banner {
                padding-left: 10px;
                width:100% !important;
            }
            div#page_content {
                overflow: visible;
                height: auto
            }
        }
}
